#============= untrusted_app ==============
allow untrusted_app block_device:dir { read open };
allow untrusted_app device:dir { read open };
allow untrusted_app unlabeled:dir getattr;
allow untrusted_app battery_service:service_manager find;
allow untrusted_app init:dir { getattr search };
allow untrusted_app kernel:dir { getattr search };
allow untrusted_app kernel:file { read open };
allow untrusted_app debuggerd:dir { getattr search };
allow untrusted_app healthd:dir { getattr search };
allow untrusted_app lmkd:dir { getattr search };
allow untrusted_app logd:dir search;
allow untrusted_app netd:dir { getattr search };
allow untrusted_app netmgrd:dir { getattr search };
allow untrusted_app qmuxd:dir { getattr search };
allow untrusted_app rmt_storage:dir { getattr search };
allow untrusted_app servicemanager:dir { getattr search };
allow untrusted_app surfaceflinger:dir { getattr search };
allow untrusted_app vold:dir { getattr search };
allow untrusted_app rootfs:dir read;
allow untrusted_app sysfs:file { getattr open read };